Title: PPM - Project Portfolio Management
Date: 2022-08-05 11:09
Modified: 2022-08-05 11:09
Category: news
Tags: markdown, learn, project
Authors: Brandon Ji
Summary: PPM is not only the tool to manage the schedule, but also ideas.

*How to create WBS*
> `Initiation->Planning->Execution->Closed->Financials`
> `Project Name->Phases->Deliverables(draft->review->approval)`
> `Milestone is with 0 days duration`
> `FS, SS, FF, SF to use comparing precessor vs. successor`
> `Auto scheduling always`

*How to track*
> - Change working time -> new calendar to apply holidays, and do not forget to change project calenda
> - Baseline per alignment with PMO or technical team
> - Baseline only to ver 10 days late or 20 days early
> - 0%, 25%, 50%, 100% to right time on right deliverables

*How to manage changes*
> - Change only happen during execution stage but not planning phase
> - Can be processed for a **Closed** project
> - Scope change on project to update estimate in PPM as well
> - CAP vs. EXP vs. Support costs are always expensed - never capitalized
> - Budget locked in Dec, 1st Projection in April, 2nd One in August

*How to define PM scope*
> - Time, quality, cost
> - Finacials including non-IT, IT consumption, IT Infrastructure
> - Labor vs. service vs. software vs. expense

*How to report project*
> - RAID - risk, action, issue, decision
>   - An uncertain event or condition that, if it occurs, has a positive or negative effect on a project's objectives
>   - An event or condition that has or will happen that has a postive or negative effect on a project's objectives
> - Team status report - designed for project and workstream team meetings
> - Executive status report - pypically one page to contains high level project status